Repository AP-IT-GH/jp19-luwb: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines.yml

azure-pipelines/azure-pipelines-api.yml:

# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - src/Server/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: 'build'
    projects: 'src/Server/Server.csproj'
    arguments: '--configuration $(BuildConfiguration)'

#- task: DotNetCoreCLI@2
#  inputs:
#    command: publish
#    publishWebProjects: True
#    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
#    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

azure-pipelines/azure-pipelines.yml:

# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - src/visualisatie/WebAppLUWB/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
  displayName: 'install Angular CLI'

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'src/visualisatie/WebAppLUWB'
  displayName: 'npm install'

- script: |
    cd src/visualisatie/WebAppLUWB
    ng build --prod
  displayName: 'ng build'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'src/visualisatie/WebAppLUWB/dist/WebAppLUWB'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-api.yml
Due: none

Update anchor wrong footprints
  src/pcb/Anchor/Anchor PCB V1.b#1
  src/pcb/Anchor/Anchor PCB V1.b#3
  src/pcb/Anchor/Anchor PCB V1.b#4
  src/pcb/Anchor/Anchor PCB V1.b#5
  src/pcb/Anchor/Anchor PCB V1.b#6
  src/pcb/Anchor/Anchor PCB V1.b#7
  src/pcb/Anchor/Anchor PCB V1.brd
  src/pcb/Anchor/Anchor PCB V1.s#2
  src/pcb/Anchor/Anchor PCB V1.sch
Due: none

Added documentation for the server and website
  doc/AP Lokalisatie/Website en Server/Server.md
  doc/AP Lokalisatie/Website en Server/Website.md
  doc/img/ConnectionString.JPG
  doc/img/DatabaseTables.JPG
  doc/img/SQLServerObject.png
  src/AP lokalisatie/Anchors/Software/MCU1_Ethernet/MCU1_Ethernet.ino
  src/Server/Controllers/AnchorController.cs
  src/Server/Controllers/MeasurementController.cs
  src/Server/Controllers/TagController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Rewiring and optimizing pcb layout
  src/pcb/Anchor/Anchor PCB V1.b#1
  src/pcb/Anchor/Anchor PCB V1.b#4
  src/pcb/Anchor/Anchor PCB V1.b#5
  src/pcb/Anchor/Anchor PCB V1.b#6
  src/pcb/Anchor/Anchor PCB V1.b#7
  src/pcb/Anchor/Anchor PCB V1.b#8
  src/pcb/Anchor/Anchor PCB V1.brd
Due: none

Update footprints and wiring
  src/pcb/Anchor/Anchor PCB V1.b##
  src/pcb/Anchor/Anchor PCB V1.s##
Due: none

Minor changes wiring
  src/pcb/Anchor/Anchor PCB V1.b##
  src/pcb/Anchor/Anchor PCB V1.s##
Due: none

Added backups for schematic and board
  src/pcb/Anchor/Anchor PCB V1.b#1
  src/pcb/Anchor/Anchor PCB V1.b#2
  src/pcb/Anchor/Anchor PCB V1.b#3
  src/pcb/Anchor/Anchor PCB V1.b#5
  src/pcb/Anchor/Anchor PCB V1.b#6
  src/pcb/Anchor/Anchor PCB V1.b#7
  src/pcb/Anchor/Anchor PCB V1.b#8
  src/pcb/Anchor/Anchor PCB V1.b#9
  src/pcb/Anchor/Anchor PCB V1.brd
  src/pcb/Anchor/Anchor PCB V1.s#1
  src/pcb/Anchor/Anchor PCB V1.s#2
  src/pcb/Anchor/Anchor PCB V1.s#3
  src/pcb/Anchor/Anchor PCB V1.sch
Due: none

Add authentication
  Azure Commands/SQL_Drop All.sql
  src/visualisatie/WebAppLUWB/package-lock.json
  src/visualisatie/WebAppLUWB/package.json
  src/visualisatie/WebAppLUWB/src/app/app.module.ts
  src/visualisatie/WebAppLUWB/src/app/guard/msal.guard.spec.ts
  src/visualisatie/WebAppLUWB/src/app/guard/msal.guard.ts
  src/visualisatie/WebAppLUWB/src/app/services/msal.service.spec.ts
  src/visualisatie/WebAppLUWB/src/app/services/msal.service.ts
  src/visualisatie/WebAppLUWB/src/app/toolbar/toolbar.component.html
  src/visualisatie/WebAppLUWB/src/app/toolbar/toolbar.component.scss
  src/visualisatie/WebAppLUWB/src/app/toolbar/toolbar.component.ts
Due: azure-pipelines/azure-pipelines.yml

Saving preferences on switching route
  src/visualisatie/WebAppLUWB/src/app/common/callapi.service.ts
  src/visualisatie/WebAppLUWB/src/app/common/map.service.spec.ts
  src/visualisatie/WebAppLUWB/src/app/common/map.service.ts
  src/visualisatie/WebAppLUWB/src/app/map/map.component.html
  src/visualisatie/WebAppLUWB/src/app/map/map.component.ts
  src/visualisatie/WebAppLUWB/src/environments/environment.prod.ts
  src/visualisatie/WebAppLUWB/src/environments/environment.ts
Due: azure-pipelines/azure-pipelines.yml

Fixing all the tests
  src/visualisatie/WebAppLUWB/src/app/app.component.spec.ts
  src/visualisatie/WebAppLUWB/src/app/common/callapi.service.spec.ts
  src/visualisatie/WebAppLUWB/src/app/home/home.component.spec.ts
  src/visualisatie/WebAppLUWB/src/app/map/map.component.html
  src/visualisatie/WebAppLUWB/src/app/map/map.component.spec.ts
  src/visualisatie/WebAppLUWB/src/app/map/map.component.ts
  src/visualisatie/WebAppLUWB/src/app/settings/settings.component.ts
  src/visualisatie/WebAppLUWB/src/app/tags-anchors/tags-anchors.component.spec.ts
  src/visualisatie/WebAppLUWB/src/app/toolbar/toolbar.component.spec.ts
Due: azure-pipelines/azure-pipelines.yml

Update BootloaderBurningATSAMD21G18.md
  doc/AP Lokalisatie/Branden bootloader ATSAMD21G18/BootloaderBurningATSAMD21G18.md
Due: none

Clean-up scripts
  src/Pozyx/PozyxStandalone/config.ini
  src/Pozyx/PozyxStandalone/configSafe.ini
  src/Pozyx/PozyxStandalone/createConfigFile.py
  src/Pozyx/PozyxStandalone/positioningTag.py
Due: none

clean-up code
  src/Pozyx/PozyxStandalone/config.ini
  src/Pozyx/PozyxStandalone/createConfigFile.py
  src/Pozyx/PozyxStandalone/positioningTag.py
Due: none

add gitgnore
  src/Pozyx/PozyxStandalone/.gitignore
Due: none

Change script to use api
  src/Pozyx/PozyxStandalone/createExportFile.py
  src/Pozyx/PozyxStandalone/export.ini
  src/Pozyx/PozyxStandalone/position.txt
  src/Pozyx/PozyxStandalone/positioningTag.py
Due: none

Add Tag put pozyx controller
  src/Server/Controllers/TagController.cs
Due: azure-pipelines/azure-pipelines-api.yml

convert string to int
  src/Server/Controllers/TagController.cs
Due: azure-pipelines/azure-pipelines-api.yml

update controller from query to url parameters
  src/Server/Controllers/TagController.cs
Due: azure-pipelines/azure-pipelines-api.yml

update positionigscript to api
  src/Pozyx/PozyxStandalone/positioningTag.py
Due: none

Disable MQTT in api
  src/Server/Startup.cs
Due: azure-pipelines/azure-pipelines-api.yml

Solving connection problems
  src/pcb/Anchor/Anchor PCB V1.b#1
  src/pcb/Anchor/Anchor PCB V1.b#2
  src/pcb/Anchor/Anchor PCB V1.b#3
  src/pcb/Anchor/Anchor PCB V1.b#4
  src/pcb/Anchor/Anchor PCB V1.b#6
  src/pcb/Anchor/Anchor PCB V1.b#7
  src/pcb/Anchor/Anchor PCB V1.b#8
  src/pcb/Anchor/Anchor PCB V1.b#9
  src/pcb/Anchor/Anchor PCB V1.brd
  src/pcb/Anchor/Anchor PCB V1.s#2
  src/pcb/Anchor/Anchor PCB V1.s#3
  src/pcb/Anchor/Anchor PCB V1.s#4
  src/pcb/Anchor/Anchor PCB V1.sch
Due: none

map scales automatically
  src/visualisatie/WebAppLUWB/src/app/map/map.component.html
  src/visualisatie/WebAppLUWB/src/app/map/map.component.scss
  src/visualisatie/WebAppLUWB/src/app/map/map.component.ts
  src/visualisatie/WebAppLUWB/src/styles.scss
Due: azure-pipelines/azure-pipelines.yml

Changes wiring and added forgotten connections
  src/pcb/Anchor/Anchor PCB V1.b#1
  src/pcb/Anchor/Anchor PCB V1.b#2
  src/pcb/Anchor/Anchor PCB V1.b#3
  src/pcb/Anchor/Anchor PCB V1.b#4
  src/pcb/Anchor/Anchor PCB V1.b#5
  src/pcb/Anchor/Anchor PCB V1.b#6
  src/pcb/Anchor/Anchor PCB V1.b#7
  src/pcb/Anchor/Anchor PCB V1.b#8
  src/pcb/Anchor/Anchor PCB V1.b#9
  src/pcb/Anchor/Anchor PCB V1.brd
  src/pcb/Anchor/Anchor PCB V1.s#1
  src/pcb/Anchor/Anchor PCB V1.s#3
  src/pcb/Anchor/Anchor PCB V1.s#4
  src/pcb/Anchor/Anchor PCB V1.s#5
  src/pcb/Anchor/Anchor PCB V1.sch
Due: none

Updaten van packages
  src/visualisatie/WebAppLUWB/package-lock.json
  src/visualisatie/lijn tekenen (angular)/package-lock.json
  src/visualisatie/lijn tekenen (angular)/package.json
Due: azure-pipelines/azure-pipelines.yml

Toolbar login/logout visual bugfixes
  src/visualisatie/WebAppLUWB/src/app/toolbar/toolbar.component.html
  src/visualisatie/WebAppLUWB/src/app/toolbar/toolbar.component.scss
Due: azure-pipelines/azure-pipelines.yml

Moving all services to services folder
  src/visualisatie/WebAppLUWB/src/app/app.module.ts
  src/visualisatie/WebAppLUWB/src/app/map/map.component.ts
  src/visualisatie/WebAppLUWB/src/app/services/callapi.service.spec.ts
  src/visualisatie/WebAppLUWB/src/app/services/callapi.service.ts
  src/visualisatie/WebAppLUWB/src/app/services/map.service.spec.ts
  src/visualisatie/WebAppLUWB/src/app/services/map.service.ts
  src/visualisatie/WebAppLUWB/src/app/settings/settings.component.ts
  src/visualisatie/WebAppLUWB/src/app/tags-anchors/tags-anchors.component.ts
  src/visualisatie/WebAppLUWB/src/app/toolbar/toolbar.component.scss
Due: azure-pipelines/azure-pipelines.yml

Add zPos to website
  src/Server/Controllers/AnchorController.cs
  src/Server/Models/Anchor.cs
  src/Server/Models/DatabaseInitialiser.cs
  src/Server/appsettings.json
  src/visualisatie/WebAppLUWB/src/app/map/map.component.scss
  src/visualisatie/WebAppLUWB/src/app/map/map.component.ts
  src/visualisatie/WebAppLUWB/src/app/services/callapi.service.ts
  src/visualisatie/WebAppLUWB/src/app/tags-anchors/tags-anchors.component.html
  src/visualisatie/WebAppLUWB/src/app/tags-anchors/tags-anchors.component.scss
  src/visualisatie/WebAppLUWB/src/app/tags-anchors/tags-anchors.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines.yml

Change connections string
  src/Server/appsettings.json
Due: azure-pipelines/azure-pipelines-api.yml

Add script to post measurements to the API
  src/AP lokalisatie/Raspberry Pi/Scripts/config.ini
  src/AP lokalisatie/Raspberry Pi/Scripts/createConfigfile.py
  src/AP lokalisatie/Raspberry Pi/Scripts/listanAndPostScriptAPI.py
  src/Server/Controllers/MeasurementController.cs
Due: azure-pipelines/azure-pipelines-api.yml

add robot.py
  src/robot/robot.py
Due: none

Update doc RaspberryPiSetup for AP lokalisatie
  doc/AP Lokalisatie/RaspberryPiSetup.md
Due: none

Change name of py file
  src/AP lokalisatie/Raspberry Pi/Scripts/listenAndPostScriptAPI.py
Due: none

Update packages
  src/visualisatie/WebAppLUWB/package-lock.json
Due: azure-pipelines/azure-pipelines.yml

V2 Updaten mistakes
  src/pcb/Anchor/Anchor PCB V1.b#1
  src/pcb/Anchor/Anchor PCB V1.b#2
  src/pcb/Anchor/Anchor PCB V1.b#3
  src/pcb/Anchor/Anchor PCB V1.b#4
  src/pcb/Anchor/Anchor PCB V1.b#5
  src/pcb/Anchor/Anchor PCB V1.b#6
  src/pcb/Anchor/Anchor PCB V1.b#7
  src/pcb/Anchor/Anchor PCB V1.b#8
  src/pcb/Anchor/Anchor PCB V1.brd
  src/pcb/Anchor/Anchor PCB V1.s#1
  src/pcb/Anchor/Anchor PCB V1.s#2
  src/pcb/Anchor/Anchor PCB V1.s#4
  src/pcb/Anchor/Anchor PCB V1.s#5
  src/pcb/Anchor/Anchor PCB V1.s#6
  src/pcb/Anchor/Anchor PCB V1.sch
Due: none

Bugfix Davy
  src/visualisatie/WebAppLUWB/src/app/map/map.component.ts
Due: azure-pipelines/azure-pipelines.yml

Update README.md
  doc/README.md
Due: none

Update Server.md
  doc/AP Lokalisatie/Website en Server/Server.md
Due: none
